<div class="search-result bing">
	<div class="title"><%=truncate(@analysis.basic.title, length: 69, separator: ' ')%></div>
	<div class="url"><%=truncate(@analysis.url, length: 78)%></div>
	<div class="description"><%=truncate(@analysis.basic.description, length: 250, separator: ' ')%></div>
</div>