<div class="search-result google">
	<div class="title"><%=truncate(@analysis.basic.title, length: 71, separator: ' ')%></div>
	<div class="url"><%=truncate(@analysis.url, length: 77)%></div>
	<div class="description"><%=truncate(@analysis.basic.description, length: 169, separator: ' ')%></div>
</div>