<div class="row-fluid">
	<div class="input-append row-fluid" id="analysis-bar">
		<form>
		  <input class="span10" id="appendedInputButton" type="text" placeholder="http://www.yoursite.com/page-to-check">
		  <button class="btn" type="submit">Analyze</button>
	  </form>
	</div>
	<hr/>
	<div id="results" class="row-fluid">
		<h5>Enter a URL and hit 'Analyze'.</h5>
	</div>
</div>