body, input, button {
	font-family: 'Lato';
}

#header {
	h1 {
		text-transform: uppercase;
	}
}
form {
	margin: 0;
}
#analysis-bar {
	margin: 0;
	input {
		width: 80%;
	}
	button {
		width: 20%;
	}
}

.signature {
	text-align: right;
	text-transform: uppercase;
}

.heading {
	margin-top: 0.618rem;
	h4 {
		text-transform: uppercase;
		font-weight: 300;
		border-bottom: thin solid rgba(0,0,0,0.1);
		padding-bottom: 0.381em;
		a {
			opacity: 0.3;
			color: inherit;
			transition: opacity 0.3s;
			&:hover {
				text-decoration: none;
				opacity: 0.6;
			}
		}
	}
}

.line {
	.title {
		text-align: right;
		font-weight: 300;
	}

	img {
		max-width: 100%;
		max-height: 10rem;
		margin: 0 0;
	}
}
