
.search-result {
	margin-bottom: 1rem;
}
.google {
	font-family: arial, sans-serif;
	width: 528px - 16px;
	box-sizing: border-box;
	.title {
		font-size: 16px;
		text-align: left;
		color: #12c;
		line-height: 19px;
		text-decoration: underline;
	}
	.url {
		font-size: 14px;
		color: #093;
		line-height: 16px;
		margin-bottom: 1px;
	}
	.description {
		font-size: 13px;
		color: #444;
		line-height: 16px;
	}
}


.bing {
	font-family: arial, sans-serif;
	width: 520px;
	box-sizing: border-box;
	.title {
		font-size: 16px;
		text-align: left;
		color: #04c;
		line-height: 19px;
		text-decoration: underline;
		padding-bottom: 2px;
	}
	.url {
		font-size: 14px;
		color: #388222;
		line-height: 16px;
		margin-bottom: 1px;
	}
	.description {
		font-size: 13px;
		color: #000;
		line-height: 1.2em;
		word-wrap: break-word;
	}
}

