<hr/>
<div class="row-fluid">
	<div class="span6 credit"><p>This service is brought to you by <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a>. Tweet feedback <a href="https://twitter.com/SharingTester">@SharingTester</a>.</p></div>
	<div class="span6 signature">Made in India</div>
</div>